.env
Python SAAS projects/Audio Book Maker/Audio Books
Python SAAS projects/Practice projects/Test Downloads
Python SAAS projects/Game Guide Maker/Game Ideas

Python SAAS projects/Audio Book Maker/new_audio_book_maker.py
Python SAAS projects/Audio Book Maker/audio_book_maker.py
Python SAAS projects/Game Guide Maker/information_gather.py